@tailwind base;
@tailwind components;
@tailwind utilities;

.image_gradient {
  -webkit-mask-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.anime_tier {
  margin-top: 40px;
  font-size: calc(1rem + 12vw);
  line-height: 1px;
}

.main {
  height: calc(100vh - 80px);
}

@media (max-width: 768px) {
  .main {
    height: auto;
  }
}

@media (min-width: 768px) {
  .outerDiv:hover .imageClass {
    filter: brightness(50%);
  }
}
